<!-- Página para editar um usuário existente --> 
{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Editar Usuário{% endblock %}</h1>

    <br>

    <form method="POST" action="{{ url_for('usuarios.editar', usuario_id=usuario.id) }}">

        <div class="form-group">
            <label for="id">ID:</label>
            <input type="number" class="form-control" id="usuario_id" name="usuario_id" value="{{ usuario.id }}" readonly>
        </div>

        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}" placeholder="Digite o E-mail" required>
        </div>

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ usuario.nome }}" placeholder="Digite o nome" required>
        </div>

        <div class="form-group">
            {% if current_user.is_adm() %}
                <label for="id_perfil">Selecione um perfil:</label>
                <select class="form-select" id="id_perfil" name="id_perfil">
                    {% for perfil in perfis %}
                        <option value="{{ perfil.id }}" {% if perfil.id == usuario.id_perfil %} selected {% endif %}>
                            {{ perfil.descricao }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                <label for="id_perfil">Seu perfil atual:</label>
                {% for perfil in perfis %}
                    {% if perfil.id == usuario.id_perfil %}
                        <p>{{ perfil.descricao }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
                
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
                <div class="btn-group">
                    {% if current_user.is_adm() %}
                        <a href="{{ url_for('usuarios.usuarios') }}" class="btn btn-secondary mx-1">Cancelar</a> 
                    {% else %}
                        <a href="{{ url_for('usuarios.profile') }}" class="btn btn-secondary mx-1">Cancelar</a> 
                    {% endif %}
                </div>
            </div>
        </div>

    </form>
    
{% endblock %}
