<!-- Página para confirmar a exclusão de um usuário -->
{% extends "base.html" %}

{% block content %} 

    <h1>{% block title %}Excluir Usuário{% endblock %}</h1>

    <br>

    <p class="text-center">Tem certeza que deseja excluir o usuário <b>{{ usuario.nome }}</b>?</p>

    <br>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form method="POST" action="{{ url_for('usuarios.excluir', usuario_id=usuario.id) }}">
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="{{ url_for('usuarios.usuarios') }}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}