<!-- Página para gerenciar os módulos do sistema -->
<!-- Módulo de acesso exclusivo do Administrador - controle de acesso via código \ blueprint -->
{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Administração - Módulos{% endblock %}</h1>

    <br>

    <div class="row justify-content-center">

        <div class="col-4">

            <!-- Usuários -->
            <div class="d-flex">
                <a href="{{ url_for('usuarios.usuarios') }}" class="btn btn-block btn-primary mb-3">Usuários</a>
            </div>
            
            <!-- Perfis -->
            <div class="d-flex">
                <a href="{{ url_for('perfis.perfis') }}" class="btn btn-block btn-primary mb-3">Perfis</a>
            </div>

            <!-- Setores -->
            <div class="d-flex">
                <a href="{{ url_for('setores.setores') }}" class="btn btn-block btn-primary mb-3">Setores</a>
            </div>

            <!-- Estações -->
            <div class="d-flex">
                <a href="{{ url_for('estacoes.estacoes') }}" class="btn btn-block btn-primary mb-3">Estações</a>
            </div>

            <!-- Senhas -->
            <div class="d-flex">
                <a href="{{ url_for('senhas.senhas') }}" class="btn btn-block btn-primary mb-3">Senhas</a>
            </div>

        </div>
        
    </div>

{% endblock %}