<!-- Módulo de acesso exclusivo do Administrador -->
{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Administração - Módulos{% endblock %}</h1>

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="w-50 mx-auto">

                    <br>

                    <div class="row">
                        <div class="col-4">
                        </div>

                        <div class="col-4">
                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('usuarios.usuarios') }}" class="btn btn-block btn-primary mb-3">Usuários</a>
                            </div>
                            
                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('perfis.perfis') }}" class="btn btn-block btn-primary mb-3">Perfis</a>
                            </div>

                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('setores.setores') }}" class="btn btn-block btn-primary mb-3">Setores</a>
                            </div>

                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('estacoes.estacoes') }}" class="btn btn-block btn-primary mb-3">Estações</a>
                            </div>
                        </div>
                        
                        <div class="col-4">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}