{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Administração - Perfis{% endblock %}</h1>
 
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end">
                <a href="{{ url_for('perfis.criar') }}" class="btn btn-primary">Criar Novo Perfil</a>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for perfil in perfis %}
            <tr>
                <td>{{ perfil.id }}</td>
                <td>{{ perfil.descricao }}</td>
                <td>
                    <a href="{{ url_for('perfis.excluir', perfil_id=perfil.id) }}" class="btn btn-danger">Excluir</a>
                    <a href="{{ url_for('perfis.editar', perfil_id=perfil.id) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}