{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Administração - Setores{% endblock %}</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-end">
                <a href="{{ url_for('setores.criar') }}" class="btn btn-primary">Criar Novo Setor</a>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for setor in setores %}
            <tr>
                <td>{{ setor.id }}</td>
                <td>{{ setor.descricao }}</td>
                <td>
                    <a href="{{ url_for('setores.excluir', setor_id=setor.id) }}" class="btn btn-danger">Excluir</a>
                    <a href="{{ url_for('setores.editar', setor_id=setor.id) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}