<!-- Página para o usuário selecionar a estação -->
{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="w-50 mx-auto text-center">
                <h1>{% block title %}Estações para Atendimento{% endblock %}</h1>
                <br>
                <h3> Setor: {{ setor.descricao }}</h3>
                <br>
            </div>
        </div>

        {% for estacao in estacoes %}
            <div class="row"> 
                <div class="w-50 mx-auto text-center">

                    {% if estacao.id_usuario != None %}

                        <form method="GET" action="{{ url_for('recepcao.senhas', setor_id=setor.id, estacao_id=estacao.id, senha_atual_id=0, acao='senhas') }}">
                            <button type="submit" class="btn btn-primary btn-block disabled" disabled>
                                {{ estacao.descricao }} - {{ usuarios.get(estacao.id_usuario) }}
                            </button>
                        </form>

                    {% else %}

                        <form method="GET" action="{{ url_for('recepcao.senhas', setor_id=setor.id, estacao_id=estacao.id, senha_atual_id=0, acao='senhas') }}">
                            <button type="submit" class="btn btn-primary btn-block">
                                {{ estacao.descricao }} - Estação Livre
                            </button>
                        </form>

                    {% endif %}
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}