<!-- Página para confirmar a exclusão de todas as senhas (módulo do administrador) -->
{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Excluir Senha{% endblock %}</h1>

    <br>

    <p class="text-center">Tem certeza que deseja excluir <b>TODAS</b> as senhas?</p>

    <br>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form method="POST" action="{{ url_for('senhas.excluir_tudo') }}">
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="{{ url_for('senhas.senhas') }}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}