<!-- Página para criar um novo paciente  -->
{% extends "base.html" %}
 
{% block content %}
 
    <h1>{% block title %}Criar Paciente{% endblock %}</h1>

    <br>

    <form method="POST">

        <div class="form-group">
            <label for="nome">CPF:</label>
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" value="{{ cpf }}" required>
        </div>
        
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>

        <div class="form-group">
            <label for="data_nascimento">Data de Nascimento:</label>
            <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" required>
        </div>

        <div class="form-group">
            <label for="sexo">Sexo:</label>
            <select class="form-control" id="sexo" name="sexo" required>
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
        </div>

        <div class="row mb-3">

            <div class="col-12 d-flex justify-content-center">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>

                <div class="btn-group">
                    {% if current_user.is_adm() %}
                        <a href="{{ url_for('pacientes.pacientes') }}" class="btn btn-secondary mx-1">Cancelar</a>
                    {% else %}
                        <a href="{{ url_for('recepcao.senhas', setor_id=setor_id, estacao_id=estacao_id, senha_atual_id=senha_atual_id, acao='senhas_atualizar' ) }}" class="btn btn-secondary mx-1">Cancelar</a>
                    {% endif %}
                </div>

            </div>
            
        </div>
        
    </form>
                   
{% endblock %}
