<!-- Corpo da página inicial do sistema --> 
{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Bem-vindo ao SGA{% endblock %}</h1>

    <br>

    <div class="container text-center">

        {% if current_user.is_authenticated %}

            <p>Você está autenticado como <strong>{{ current_user.nome }}</strong>.</p>

            <br>
            
            <p>Ver o meu <a href="{{ url_for('usuarios.profile') }}">perfil</a>.</p>
            
        {% else %}

            <p>Você não está autenticado, por favor faça seu <a href="{{ url_for('auth.login') }}">login</a> ou contate o administrador para seu registro.</p>

            <br>

            <p>Opção para usuários não autenticados: </p>
                
            <p><a href="{{ url_for('senhas.totem') }}">Totem de auto-atentimento.</a></p>

            <p><a href="{{ url_for('senhas.ultimas_senhas_recepcao') }}">Painel de senhas</a>.</p>

            <br>

        {% endif %}

    <div>

{% endblock %}