<!-- Página para confirmar a exclusão de um perfil -->
{% extends "base.html" %}

{% block content %}

    <h1>{% block title %}Excluir Perfil{% endblock %}</h1>

    <br>

    <p class="text-center">Tem certeza que deseja excluir o perfil <b>{{ perfil.descricao }}</b>?</p>

    <br>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form method="POST" action="{{ url_for('perfis.excluir', perfil_id=perfil.id) }}">
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="{{ url_for('perfis.perfis') }}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}